* {
  margin: 0;
}

:root {
  --main: hsl(207, 44%, 49%);
  --secondary: hsla(260, 60%, 33%, 1);
  --accent: hsl(240, 64%, 27%);
  --error: hsl(0, 100%, 40%);
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App-header {
  background-color: var(--main);
  min-height: 15vmin;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer {
  background-color: var(--accent);
  min-height: fit-content;
  font-size: calc(8px + 1vmin);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: calc(20px + 2vmin);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar-item {
  padding-inline: 2rem;
}

li {
  list-style: none;
  padding: 10px;
}

.title-card {
  text-align: left;
  margin: 1rem;
}
