* {
  margin: 0;
}

:root {
  --main: hsl(207, 44%, 49%);
  /* --secondary: hsla(260, 20%, 33%, 0.5); */
  --secondary: mintcream;
  --accent: hsl(240, 45%, 27%);
  --error: hsl(0, 100%, 40%);
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--secondary);
}

.App-header {
  background-color: var(--main);
  min-height: 15vmin;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer {
  background-color: var(--accent);
  min-height: fit-content;
  font-size: calc(8px + 1vmin);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: calc(20px + 2vmin);
}

h2,
h3 {
  background-color: var(--accent);
  color: white;
  padding: 0.3em;
  margin-block: 0.5em;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  background-color: var(--accent);
}

.nav-bar-item {
  padding-inline: 2em;
  margin-block: 5px;
}

.nav-bar-item:hover {
  background-color: var(--main);
  border-radius: 5px;
}

li {
  list-style: none;
  padding: 10px;
}

.title-card {
  text-align: left;
  margin: 1rem;
}

.main-content {
  margin-inline: 10vw;
  padding: 1em;
  display: flex;
}

.content-block {
  line-height: 1.5;
  font-size: calc(10px + 1vmin);
  margin-top: 1em;
}

#bio-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1em;
}

#bio-block > img {
  border-radius: 50%;
  border: 1px solid var(--accent);
}

.project-container {
  border: 5px solid var(--accent);
  position: relative;
  height: 28em;
  width: 32em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-container h3 {
  padding: 1em;
  width: 50%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

.project-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 50%;
}

.project-links {
  display: inline;
  gap: 1em;
  position: absolute;
  bottom: 10%;
}

.project-links a {
  margin-inline: 1em;
  border-radius: 5px;
  background-color: var(--main);
}

.project-container p {
  width: 80%;
  line-height: 1.5;
}

.hide {
  visibility: hidden;
  background-color: var(--accent);
  color: white;
  padding: 0.5em;
}

.project-container:hover * {
  visibility: visible;
  opacity: 100%;
}

.gap {
  gap: 1em;
}
